@font-face {
    font-family: "Harabara";
    src: url('../fonts/Harabara.ttf') format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

ul
{
    list-style-type: none;
}

body{
	background-color: #217346;
}
.formulario {
	background-color: white;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-top: 2%;
	margin-bottom: 2%;
	-webkit-box-shadow: 11px 14px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 14px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 11px 14px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
	background-image: url("../img/player.png");
	background-repeat: no-repeat;
}

.entradas{
	width: 80%;
	height: 40px;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	z-index: 100;
}

.subearchivo{
	margin-bottom: 50px;
	background-color: #217346;
	border: none;
	color: white;
	font-weight: bold;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.subearchivo:active{
	background-color: darkgreen;
}

.boton{
	background-color: #217346;
	color: white;
	margin-bottom: 20px;
	height: 60px;
	border: none;
	font-weight: bold;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.boton:active{
	background-color: darkgreen;
}

.imagen {
	width: 167px;
	height: 100px;
	position: absolute;
	top: 5%;
	left: 1%;
	z-index: 1;
}

.preview{
	width: 70px;
	height: 60px;
	margin: 20px;
}

.smoke{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	min-width: 100% !important;
	min-height: 160% !important;
	background-color: rgba(0, 0, 0, 0.7);
}

.flota{
	position: absolute;
	top: 1%;
	left: 1%;
}
.logo {
	width: 30%;
	height: 10%;
}

.login {
	width: 50%;
	height: 40px;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	z-index: 100;
}

.botonLog {
	background-color: #217346;
	color: white;
	margin-bottom: 20px;
	height: 60px;
	border: none;
	font-weight: bold;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.texto {
	font-family: 'Harabara', Verdana, Tahoma !important;
}

.entradaNombre {
	width: 24%;
	height: 40px;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	z-index: 100;
}

.parrafo {
	width: 60%;
	margin-left: 20%;
	white-space: pre;
	text-align: left;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica
}
