<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-8 col-sm-offset-1 col-md-offset-3 col-lg-offset-2 formulario">
				<img class="logo" src="img/logoGolf.png" alt="logoTorneo">
				<div ng-show="loged">
					<h2>Iniciar Sesión</h2>
					<input class="login" type="text" placeholder="Nombre de usuario" ng-model="admin.username">
					<input class="login" type="password" placeholder="Contraseña" ng-model="admin.pass">
					<div class="row">
						<input class="botonLog" type="button" value="Iniciar sesión" ng-click="login()">
					</div>
				</div>
				<table class="table" ng-show="data">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Correo</th>
							<th>Telefono</th>
							<th>Handicap</th>
							<th>fecha de pago</th>
							<th>Banco</th>
							<th>Pago</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="p in players">
							<td>{{p.name}} {{p.app}} {{p.apm}}</td>
							<td>{{p.mail}}</td>
							<td>{{p.phone}}</td>
							<td>{{p.handicap}}</td>
							<td>{{p.payDate}}</td>
							<td>{{p.bank}}</td>
							<td>
								<a ng-click="watch(p.routeServer)"><span class="glyphicon glyphicon-eye-open"></span></a>
							</td>
						</tr>
						<tr>
							<td>{{p.nameP}} {{p.appP}} {{p.apmP}}</td>
							<td>{{p.mailP}}</td>
							<td>{{p.phoneP}}</td>
							<td>{{p.handicapP}}</td>
							<td>{{p.payDateP}}</td>
							<td>{{p.bankP}}</td>
							<td>
								<a ng-click="watch(p.routeServerP)"><span class="glyphicon glyphicon-eye-open"></span></a>
							</td>
						</tr>
						<tr ng-repeat-end>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					</div>
				</div>
				<div class="row smoke" ng-show="galeria">
					<div class="flota">
						<img class="logo" ng-src={{imagenPago}} alt="logoTorneo">
						<button ng-click="closeGalerie()" class="btn btn-danger">Cerrar</button>
					</div>
				</div>
	</div>
</div>