<div ng-controller="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 formulario">
				<!--<h1><b>"GOLF TOURNAMENT"</b></h1>-->
				<img class="logo" src="img/logoGolf.png" alt="logoTorneo">
				<h3 class="texto">Ficha de registro para el torneo</h3>
				<form name="formulario">
					<input class="entradaNombre" type="text" placeholder="Apellido Paterno" ng-model="user.apP">
					<input class="entradaNombre" type="text" placeholder="Apellido Materno" ng-model="user.apM">
					<input class="entradaNombre" type="text" placeholder="Nombre(s)" ng-model="user.name">
					<input class="entradas" type="email" placeholder="Correo electronico" ng-model="user.mail">
					<input class="entradas" type="text" placeholder="Numero de telefono" ng-model="user.phone">
					<input class="entradas" type="number" min="0" placeholder="Handicap" ng-model="user.handicap">
					<p>Datos de pareja en el torneo</p>
					<input class="entradaNombre" type="text" placeholder="Apellido Paterno" ng-model="user.apPP">
					<input class="entradaNombre" type="text" placeholder="Apellido Materno" ng-model="user.apMP">
					<input class="entradaNombre" type="text" placeholder="Nombre(s)" ng-model="user.nameP">
					<input class="entradas" type="number" min="0" placeholder="Handicap" ng-model="user.handicapP">
					<p>Fecha de pago para inscripción al torneo</p>
					<input class="entradas" type="date" placeholder="Fecha de pago" ng-model="user.payDate">
					<input class="entradas" type="text" placeholder="Banco" ng-model="user.bank">
					<div class="row">
						<h4>Manda una imagen de tu comprobante de pago</h4>
						<file-field class="subearchivo" preview="previewImage" ng-model="user.uploadFile">
							Sube archivo
						</file-field>
						<img class="preview" ng-src="{{previewImage}}">
					</div>
					<input class="boton" type="button" value="Registrarse al torneo" ng-click="enviar()">
				</form>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 imagen"></div>
			</div>
		</div>
		<div class="row smoke" ng-show="modal">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 formulario flota">
				<img class="logo" src="img/logoGolf.png" alt="logoTorneo">
				<h3>Confirma que los datos son correctos</h3>
				<div>
					<ul>
						<li><h4>Nombre completo: </h4>{{user.name}} {{user.apP}} {{user.apM}}</li>
						<li><h4>e-mail: </h4>{{user.mail}}</li>
						<li><h4>Telefono: </h4>{{user.phone}}</li>
						<li><h4>Handicap: </h4>{{user.handicap}}</li>
						<li><h3>Datos de pareja: </h3></li>
						<li><h4>Nombre completo: </h4>{{user.nameP}} {{user.apPP}} {{user.apMP}}</li>
						<li><h4>Handicap: </h4>{{user.handicapP}}</li>
						<li><h4>Fecha de pago: </h4>{{user.payDate | date:'yyyy-MM-dd'}}</li>
						<li><h4>Banco: </h4>{{user.bank}}</li>
						<img class="preview" ng-src="{{previewImage}}">
					</ul>
					<input class="boton" type="button" value="Cancelar" ng-click="cancelar()">
					<input class="boton" type="button" value="Registrar" ng-click="uploader.uploadAll()">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 imagen"></div>
			</div>
		</div>
		<div class="row smoke" ng-show="modalSuccess">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 formulario flota">
				<img class="logo" src="img/logoGolf.png" alt="logoTorneo">
				<h4>{{user.name}} se ha registrado EXITOSAMENTE!!</h4>
				<div>
					<input class="boton" type="button" value="Aceptar" ng-click="fin()">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 imagen"></div>
			</div>
		</div>
		<div class="row smoke" ng-show="modalError">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 formulario flota">
				<img class="logo" src="img/logoGolf.png" alt="logoTorneo">
				<h4>{{tituloAviso}}</h4>
				<p class="parrafo">{{aviso}}</p>
				<div>
					<input class="boton" type="button" value="Aceptar" ng-click="finError()">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 imagen"></div>
			</div>
		</div>
	</div>
</div>